backend/target
backend/target/test-classes/com/topdealerauto/backend/BackendApplicationTests.class

backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
backend/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
backend/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
backend/target/classes/com/topdealerauto/backend/Repository/UsuarioRepository.class
backend/target/classes/com/topdealerauto/backend/model/Usuario.class
backend/target/classes/com/topdealerauto/backend/controller/UsuarioController.class
backend/target/classes/com/topdealerauto/backend/config/SecurityConfig.class
backend/target/classes/com/topdealerauto/backend/BackendApplication.class
backend/target/classes/application.properties
backend/src/main/resources/application.properties
backend/target/classes/com/topdealerauto/backend/BackendApplication.class
backend/target/classes/com/topdealerauto/backend/config/SecurityConfig.class
backend/target/classes/com/topdealerauto/backend/controller/UsuarioController.class
backend/target/classes/com/topdealerauto/backend/model/Usuario.class
backend/target/classes/com/topdealerauto/backend/Repository/UsuarioRepository.class
backend/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
backend/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
backend/target/test-classes/com/topdealerauto/backend/BackendApplicationTests.class
TopDealerAuto/GEMINI.md